<h2 class='text-center'>Show Work Highlight</h2>

<div class="row">

<%= @highlight.detail %><br />

<br /><br />
<a href="/works/<%= @work.id %>/highlights/<%= @highlight.id %>/edit">Edit</a>

</div>